body {
  margin: 0;

  font-family: 'Poppins', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: #226684;
}
.category-active {
  background-color: #226684;
  color: whitesmoke;
}

.btn-primary {
  background-color: #226684;
}